@import "../../utils/utils_global";

.page_accueil {
    height: 100vh;
    overflow: hidden;
    &--sombre {
        color: $complementaire; 
    }
    &--clair {
        color: $contrastant-fonce;
    }
    &__contenu {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 80%;
        gap: 3%;
        &__logo {
            transform: translateY(0.1px);
            &__logo_original {
                position: relative;
                top: 0;
                z-index: 2;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__logo_flou {
                position: absolute;
                top: 0;
                z-index: 1;

                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100%;

                @include blur-image;
            }
        }
        &__textes {
            margin-right: 30px;
            &__nom {
                font-family: "Chillax-Semibold";
                font-size: 70px;
                line-height: normal;
                margin-left: 5px;
            }
        }
    }
    &__cta {
        @include arrivee_page;
        position: relative;
        bottom: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    } 
}

@include arrivee_page_keyframe;

@media screen and (max-width: 1180px) {
    .page_accueil {
        &__contenu {
            gap: 4%;
            &__textes {
                &__nom {
                    font-size: 55px;
                }
            }
        }
    }
}

@media screen and (max-width: 1008px) {
    .page_accueil {
        &__contenu {
            flex-direction: column;
            position: absolute;
            bottom: 10%;
            &__textes {
                margin: 0;
                &__nom {
                    margin: 0;
                }
            }
        }
        &__cta {
            bottom: 5%;
        }
    }
}

@media screen and (max-width: 640px) {
    .page_accueil {
        &__contenu {
            &__textes {
                &__nom {
                    display: block;
                    text-align: center;
                    font-size: 45px;
                }
            }
        }
    }
}

@media screen and (max-height: 860px) {
    .page_accueil {
        &__cta {
           bottom: 50px;
        }
    }
}

@media screen and (max-width: 455px) {
    .page_accueil {
        &__contenu {
            position: relative;
            top: -3vh;
        }
    }
}