/* Error: Only 0 arguments allowed, but 1 was passed.
 *    ,--> src\components\icons\croix\croix_icon.scss
 * 5  |     @include icon_cliquable_style("fill")
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> src\utils\_mixins.scss
 * 24 | @mixin icon_cliquable_style {
 *    |        ==================== declaration
 *    '
 *   src\components\icons\croix\croix_icon.scss 5:5  icon-cliquable-style()
 *   src\components\icons\croix\croix_icon.scss 5:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Only 0 arguments allowed, but 1 was passed.\a    \250c \2500 \2500 > src\\components\\icons\\croix\\croix_icon.scss\a 5  \2502      @include icon_cliquable_style("fill")\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > src\\utils\\_mixins.scss\a 24 \2502  @mixin icon_cliquable_style {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   src\\components\\icons\\croix\\croix_icon.scss 5:5  icon-cliquable-style()\a   src\\components\\icons\\croix\\croix_icon.scss 5:5  root stylesheet';
}
