@import "../../../utils/utils_global";
@import "../../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.visualisateur {
    width: 100vw;
    &__video_container {
        display: flex;
        justify-content: center;
        &__video {
            max-height: 90vh;
        }
    }
}