@import "../../utils/utils_global";

.contact_page {
    &__contenu {
        @include arrivee_page;
        display: flex;
        flex-direction: column;
        gap: 100px;
        &__titre {
            margin-top: 50px;
            font-family: 'Chillax-Semibold';
            font-style: normal;
            font-size: 87px;
            text-align: center;
            &--sombre {
                color: $complementaire;
            }
            &--clair {
                color: $contrastant-fonce;
            }
        }
        &__reseaux {
            display: flex;
            justify-content: center;
        }
    }
}

@include arrivee_page_keyframe;


@media screen and (max-width: 1150px) {
    .contact_page {
        &__contenu {
            gap: 50px;
            &__titre {
                font-size: 70px;
            }
        }
    }
}

@media screen and (max-width: 938px) {
    .contact_page {
        &__contenu {
            gap: 50px;
            &__titre {
                font-size: 7vw;
            }
        }
    }
}


@media screen and (max-width: 750px) {
    .contact_page {
        &__contenu {
            gap: 0;
        }
    }
}
