@import "../../utils/utils_global";

.page_navigation {
    &__container_liens {
        @include arrivee_page;
        display: flex;
        justify-content: center;
        height: calc(100vh - 100px);
        flex-direction: column;
        gap: 10vh;
        margin-left: 130px;
        &__item {
            display: inline-flex;
            cursor: pointer;
            gap: 20px;
            &__numero {
                font-family: 'liquide';
                font-size: 20px;
                line-height: normal;
                &--sombre {
                    color: $complementaire;
                    &:hover {
                        color: $contrastant_clair_hover;
                    }
                    &:active {
                        color: $contrastant_clair_click;
                    }
                }
                &--clair {
                    color: $contrastant_fonce;
                    &:hover {
                        color: $contrastant_fonce_hover;
                    }
                    &:active {
                        color: $contrastant_fonce_click;
                    }
                }
            }
            &__nom {
                font-family: 'liquide';
                font-size: 85px;
                line-height: normal;
                letter-spacing: 2.55px;
                text-transform: uppercase;
                &--sombre {
                    color: $complementaire;
                    &:hover {
                        color: $contrastant_clair_hover;
                    }
                    &:active {
                        color: $contrastant_clair_click;
                    }
                }
                &--clair {
                    color: $contrastant_fonce;
                    &:hover {
                        color: $contrastant_fonce_hover;
                    }
                    &:active {
                        color: $contrastant_fonce_click;
                    }
                }
            }
        }
    }
}

@include arrivee_page_keyframe;


@media screen and (max-width: 1100px) {
    .page_navigation {
        &__container_liens {
            &__item {
                &__numero {
                    font-size: 2vw;
                }
                &__nom {
                    font-size: 8vw;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .page_navigation {
        &__container_liens {
            &__item {
                &__numero {
                    font-size: 2vw;
                }
                &__nom {
                    font-size: 7vw;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .page_navigation {
        &__container_liens {
            align-items: center;
            margin: 0;
            &__item {
                &__numero {
                    display: none;
                }
                &__nom {
                    font-size: 9vw;
                }
            }
        }
    }
}


@media screen and (max-height: 950px) {
    .page_navigation {
        &__container_liens {
            gap: 8vh;
        }
    }
}

@media screen and (max-height: 800px) {
    .page_navigation {
        &__container_liens {
            gap: 6vh;
        }
    }
}

@media screen and (max-height: 700px) {
    .page_navigation {
        &__container_liens {
            gap: 4.5vh;
        }
    }
}

@media screen and (max-height: 460px) {
    .page_navigation {
        &__container_liens {
            margin-left: 10vw;
            &__item {
                &__numero {
                    font-size: 3vh;
                }
                &__nom {
                    font-size: 10vh;
                }
            }
        }
    }
}