//Couleurs

$complementaire: #F0F2FE;
$contrastant_clair: #BCC6FF;
$principal: #C905B8;
$contrastant: #392D85;
$contrastant_fonce: #1A0045;
$contrastant_clair_hover: #A6B2FF;
$contrastant_clair_click: #6073E5;
$contrastant_fonce_hover: #4E3E7A;
$contrastant_fonce_click: #7F64C9;


//Dégradé

$degrade_noir: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
