@mixin blur_image {
    filter: blur(50px);
}

@mixin icon_style($modificateur) {
    @if ($modificateur == "fill") {
        &--sombre {
            fill: $contrastant_fonce;
        }
        &--clair {
            fill: $complementaire;
        }
    }
    @if ($modificateur == "stroke") {
        &--sombre {
            stroke: $contrastant_fonce;
        }
        &--clair {
            stroke: $complementaire;
        }
    }
}

@mixin icon_cliquable_style($inverse) {
    @if ($inverse == true) {
        svg {
            cursor: pointer;
        }
        &--sombre {
            fill: $contrastant_clair;
        }
        &--clair {
            fill: $contrastant_fonce;
        }
        svg:hover > &--sombre {
            fill: $complementaire;
        }
        svg:hover > &--clair {
            fill: $contrastant;
        }
    } @if ($inverse == false) {
        svg {
            cursor: pointer;
        }
        &--sombre {
            fill: $contrastant_fonce;
        }
        &--clair {
            fill: $complementaire;
        }
        svg:hover > &--sombre {
            fill: $contrastant_fonce_hover;
        }
        svg:hover > &--clair {
            fill: $contrastant_clair;
        }
        svg:active > &--sombre {
            fill: $contrastant_fonce_click;
        }
        svg:active > &--clair {
            fill: $contrastant_clair_hover;
        }
    }
}