@mixin blur_image {
    filter: blur(50px);
}

@mixin icon_style {
    &--sombre {
        fill: $contrastant_fonce;
    }
    &--clair {
        fill: $complementaire;
    }
}

@mixin icon_cliquable_style {
    svg {
        cursor: pointer;
    }
    &--sombre {
        fill: $contrastant_fonce;
    }
    &--clair {
        fill: $complementaire;
    }
    svg:hover > &--sombre {
        fill: $contrastant_fonce_hover;
    }
    svg:hover > &--clair {
        fill: $contrastant_clair;
    }
    svg:active > &--sombre {
        fill: $contrastant_fonce_click;
    }
    svg:active > &--clair {
        fill: $contrastant_clair_hover;
    }
}