@import "../../utils/utils_global";

.creations_page {
    padding-bottom: 100px;
    height: 100%;
    &__header {
        @include arrivee_page;
        margin-top: 30px;
        margin-bottom: 90px;
    }
    &__container_projets {
        @include arrivee_page;
        display: grid;
        row-gap: 80px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        justify-items: center;
    }
}


@include arrivee_page_keyframe;

@media screen and (max-width: 1999px) {
    .creations_page {
        &__container_projets {
            grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
        }
    }
}

@media screen and (max-width: 1700px) {
    .creations_page {
        &__container_projets {
            grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        }
    }
}

@media screen and (max-width: 1500px) {
    .creations_page {
        &__container_projets {
            grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        }
    }
}

@media screen and (max-width: 1350px) {
    .creations_page {
        &__container_projets {
            grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        }
    }
}

@media screen and (max-width: 735px) {
    .creations_page {
        &__container_projets {
            grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
        }
    }
}