//Import font Liquide

@font-face {
    font-family: 'liquide';
    src: url('../../fonts/Liquide/liquide_-_free_typeface-webfont.woff2') format('woff2'),
         url('../../fonts/Liquide/liquide_-_free_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



// Import font Chillax

@font-face {
    font-family: 'Chillax-Variable';
    src: url('../../fonts/Chillax/Chillax-Variable.woff2') format('woff2'),
         url('../../fonts/Chillax//Chillax-Variable.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Extralight';
    src: url('../../fonts/Chillax/Chillax-Extralight.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Extralight.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Light';
    src: url('../../fonts/Chillax/Chillax-Light.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Light.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Regular';
    src: url('../../fonts/Chillax/Chillax-Regular.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Regular.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Medium';
    src: url('../../fonts/Chillax/Chillax-Medium.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Medium.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Semibold';
    src: url('../../fonts/Chillax/Chillax-Semibold.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Semibold.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Bold';
    src: url('../../fonts/Chillax/Chillax-Bold.woff2') format('woff2'),
         url('../../fonts/Chillax/Chillax-Bold.woff') format('woff'),
         url('../../fonts/Chillax/Chillax-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }